<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <context id="content1">
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://us-cdbr-east-06.cleardb.net:3306/heroku_07917e7bee7a834?useUnicode=true"
                        userId="b63ba7a313370c" password="ecf38258" />

        <!-- targetProject:生成PO类的位置 -->
        <javaModelGenerator targetPackage="graph_encryption.domain.model"
            targetProject="src/main/java/" />

        <!-- targetProject:mapper映射文件生成的位置
                   如果maven工程只是单独的一个工程，targetProject="src/main/java"
                   若果maven工程是分模块的工程，targetProject="所属模块的名称"，例如：
                   targetProject="ecps-manager-mapper"，下同-->
        <sqlMapGenerator targetPackage="mapper"
            targetProject="src/main/resources" />

        <!-- targetPackage：mapper接口生成的位置 -->
        <javaClientGenerator targetPackage="graph_encryption.domain.client"
            targetProject="src/main/java" type="XMLMAPPER" />

        <!-- 指定数据库表 -->

        <table schema="heroku_00aabd9fbc22340" tableName="user_info" catalog="">
            <property name="ignoreQualifiersAtRuntime" value="true" />
            <generatedKey column="user_id" sqlStatement="MySql" identity="true" />
            <ignoreColumn column="create_time"/>
        </table>

        <table schema="heroku_00aabd9fbc22340" tableName="image_info" catalog="">
            <property name="ignoreQualifiersAtRuntime" value="true" />
                        <generatedKey column="image_id" sqlStatement="MySql" identity="true" />
            <ignoreColumn column="create_time"/>
        </table>

    </context>
</generatorConfiguration>